{% extends 'base.html.twig' %}

{% block title %}Comentarios
{% endblock %}

{% block body %}
	<style></style>

	<div
		class="example-wrapper"><tbody>
		{% for key, data in comentarios %}
		
        <tr>
            {% for item in data %}
    <td>{{ item[0].contenido ?? '' }}</td>
    <td>{{ item.nombre ?? '' }}</td>
    <td>{{ item.apellido ?? '' }}</td>
{% endfor %}

        </tr>
   
{% endfor %}
{% endblock %}