{% extends 'base.html.twig' %}

{% block title %}Comentarios
{% endblock %}

{% block body %}
	<style></style>

	<div
		class="example-wrapper"><tbody>
						{% for comentario in comentarios %}
    <tr>
        <td>{{ comentario[0].nombre ?? '' }}</td>
        <td>{{ comentario[0].apellido ?? '' }}</td>
        <td>{{ comentario[0].contenido ?? '' }}</td>
        <td>Esto te respondieron!</td>
        <td>{{ comentario[1].contenido ?? '' }}</td>
    </tr>


						
								
			
			
							</tr>
						</div>
					{% endfor %}
				</tbody>
	</table>
</div>{% endblock %}
