{% extends 'base.html.twig' %}

{% block title %}Lista de Usuarios{% endblock %}

{% block body %}
<style>
    /* Tus estilos personalizados aquí */
</style>

<div class="container">
    <h1>Lista de Usuarios</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <!-- Agrega aquí más encabezados para otras propiedades si es necesario -->
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.id }}</td>
                    <td>{{ usuario.nombre }}</td>
                    <td>{{ usuario.apellido }}</td>
                    <td>{{ usuario.email }}</td>
                    <!-- Agrega aquí más celdas para otras propiedades si es necesario -->
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

