{% extends 'base.html.twig' %}

{% block title %}Sentimental{% endblock %}

{% block body %}
<sty
</style>

<div class="example-wrapper">
   
<tbody>
			{% for sentiment in sentimental %} 
				<tr>

					<td>{{ sentiment.id }}</td>
					<td>{{ sentiment.nombre }}</td>


				</tr>
			</div>
		{% endfor %}
	</tbody>
</table></div>{% endblock %}
